html{
   background-color:black;
}

body{
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

#logout{
  color:rgb(182, 31, 31);
  position:absolute;
  top:40px;
  padding:5px;
  right:30px;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

#logout:hover{
  background-color:black;
  color:white;
  transition: background-color 0.5s ease;
}

article img:hover{
  opacity: .7;
}

nav{
  text-align: center;
  padding-top:10px;
  padding-bottom:20px;
  font-size: 14pt;
}

.hero-image{
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text{
  color:white;
  text-align: center;
  padding-top:30px;
  font-size:40pt;
  margin:none;
}

.hero-button{
  background-color:rgb(182, 31, 31);
  color:white;
  border:none;
  padding:10px 30px;
  font-size:16pt;
  display: block;
  border-radius: 15px 15px 15px;
  box-shadow: 8px 8px 8px #1d1818;
  margin-left: auto;
  margin-right: auto;
  margin-top:80px;
  transition: background-color 0.5s ease;
}

.hero-button:hover{
  background-color: white;
  color:black;
  transition: background-color 0.5s ease;
}

#article-header{
  text-align: center;
  margin:30px;
}

#logo{
    padding:10px;
    width:5%;
    min-width: 40px;
}

nav a{
  color: rgb(182, 31, 31);
  text-decoration: none;
  padding:5px;
  margin-right:15px;
  transition: background-color 0.5s ease;
}

nav a:hover{
  color: white;
  background-color:black;
  transition: background-color 0.5s ease;
}

.article-container{
  display:flex;
  flex-wrap: wrap;
}

.article-content{
  border:solid 1px black;
  width:400px;
  margin:30px;
  margin-top:10px;
  padding-bottom:40px;
}

.article-content h3{
  text-align: center;
  font-weight: 800;
  margin:10px;
}

.article-content p{
  margin:10px;
}

.article-content a{
  margin: 10px;
  color: rgb(182, 31, 31);
}

#copyright{
  text-align: center;
  padding:10px;
}
p.username{
  position: absolute;
  top: 10px;
  right: 30 px;
}