body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

html{
    background-color:black;
}

h1{
    text-align: center;
    padding:20px;
}
form{
    text-align: center;
    background-color:lightgray;
    padding:10px;
}

#bee{
    height:auto;
    display: block;
    margin-top:50px;
    margin-bottom:30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}

#copyright{
    text-align: center;
    padding:10px;
}

form input {
    padding:5px;
    font-size:14pt;
    margin:20px;
    border-radius: 15px 15px 15px;
}

form button {
    padding:10px;
    width:200px;
    font-size:18pt;
    margin:20px;
    border-radius: 15px 15px 15px;
    background-color:rgb(214, 20, 20);
    box-shadow: 8px 8px 8px #888888;
    border:none;
}

form button a {
    color:white;
    text-decoration: none;
    display: block;
}