html{
   background-color:black;
}

body{
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

nav{
  text-align: center;
  padding-top:10px;
  padding-bottom:20px;
  font-size: 14pt;
}

.hero-image{
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/hero-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text{
  color:white;
  text-align: center;
  padding-top:30px;
  font-size:40pt;
  margin:none;
}

.hero-button{
  background-color:rgb(182, 31, 31);
  color:white;
  border:none;
  padding:10px 30px;
  font-size:16pt;
  position:absolute;
  left:45%;
  margin-top:80px;
}

.hero-button:hover{
  background-color: white;
  color:black
}

h2{
  text-align: center;
}

#logo{
    padding:10px;
    width:5%;
    min-width: 40px;
}

article:hover{
  opacity: 0.5;
}

nav a{
  color: rgb(182, 31, 31);
  text-decoration: none;
  padding:5px;
  margin-right:15px;
}
nav a:hover{
  color: white;
  background-color:black;
}
