nav{
  text-align: center;
}
#hero{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2{
  text-align: center;
}
<<<<<<< HEAD

#logo{
    width:5%;
    padding:10px;
}
=======
article:hover{
  opacity: 0.5;
}
>>>>>>> f20ae76205299d95ee91420c5a412097737be05a
